name: CD

on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ghcr.io/${{ secrets.REPOSITORY_OWNER }}/lumm-web:${{ github.sha }}
            ghcr.io/${{ secrets.REPOSITORY_OWNER }}/lumm-web:latest
          build-args: |
            VITE_API_URL=${{ secrets.VITE_API_URL }}
            VITE_API_KEY=${{ secrets.VITE_API_KEY }}
            VITE_ROBOTS=${{ secrets.VITE_ROBOTS }}
            VITE_SITE_URL=${{ secrets.VITE_SITE_URL }}

  dast:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Check image exists
        run: |
          if ! docker pull ghcr.io/${{ secrets.REPOSITORY_OWNER }}/lumm-web:latest; then
            echo "âŒ Image not found. CI may have failed."
            exit 1
          fi
      
      - name: Pull latest image
        run: docker pull ghcr.io/${{ secrets.REPOSITORY_OWNER }}/lumm-web:latest

      - name: Start container
        run: |
          docker run -d --name web -p 4001:80 ghcr.io/${{ secrets.REPOSITORY_OWNER }}/lumm-web:latest
          for i in {1..30}; do
            if curl -fsS http://localhost:4001 >/dev/null; then echo "Up"; break; fi
            sleep 2
          done

      - name: Set permissions for ZAP
        run: chmod -R 777 ${{ github.workspace }}

      - name: OWASP ZAP Baseline
        uses: zaproxy/action-baseline@v0.14.0
        with:
          target: "http://localhost:4001"
          cmd_options: "-I"
          allow_issue_writing: false
          artifact_name: "dast"
        continue-on-error: true

      - name: Collect DAST reports
        run: |
          mkdir -p artifacts
          mv zap_report.* artifacts/ || true

      - name: Upload DAST Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: web-dast
          path: artifacts/*

  release:
    runs-on: ubuntu-latest
    needs: dast
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          manifest-file: .release-please-manifest.json
          config-file: release-please-config.json